<link rel="stylesheet" href="../css/styles.css" />
<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="../images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Update</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Id sed officiis
      adipisci. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Inventore, ex quasi esse in incidunt consequatur facere quas
    </p>
  </div>
</div>
